<div class="container">
  <mat-card class="topbar">
    <div class="topbar-content">
      Subject and Teacher Info
    </div>
    
  </mat-card>
  
  <mat-card class="menu">
    <div class="menu-header">
      Select Your Standard
    </div>
    <div class="menu-content">
      <button class="link_item" mat-list-item [routerLink]="['/CBSE/cbse',1]">Class I</button>
      <button class="link_item" mat-list-item [routerLink]="['/CBSE/cbse',2]">Class II</button>
      <button class="link_item" mat-list-item [routerLink]="['/CBSE/cbse',3]">Class III</button>
      <button class="link_item" mat-list-item [routerLink]="['/CBSE/cbse',4]">Class IV</button>
      <button class="link_item" mat-list-item [routerLink]="['/CBSE/cbse',5]">Class V</button>
      <button class="link_item" mat-list-item [routerLink]="['/CBSE/cbse',6]">Class VI</button>
      <button class="link_item" mat-list-item [routerLink]="['/CBSE/cbse',7]">Class VII</button>
      <button class="link_item" mat-list-item [routerLink]="['/CBSE/cbse',8]">Class VIII</button>
      <button class="link_item" mat-list-item [routerLink]="['/CBSE/cbse',9]">Class IX</button>
      <button class="link_item" mat-list-item [routerLink]="['/CBSE/cbse',10]">Class X</button>
    </div>
  </mat-card>
  
  <div class="main-content">
    <!-- Subject and Teacher Info will be displayed here -->
  </div>
</div>
