<div class="welcome-container">
  <header>
    <div class="header-content">
      <div class="header-logo-container">
        <div class="logo-container">
          <img src="assets/logo.jpeg" alt="Logo Image" />
        </div>
      </div>
      <div class="header-text">
        <h1>ମୋ ଟ୍ୟୁସନ୍</h1>
        <p>ସଫଳତା ଏଠାରୁ ଆରମ୍ଭ....</p>
      </div>
    </div>
    <section class="content-container">
      <section class="cards-container">
        <app-card *ngFor="let card of cards" 
                  [title]="card.title" 
                  [description]="card.description" 
                  [imageSrc]="card.imageSrc"></app-card>
      </section>
      <div class="separator"></div>
      <section class="auth-container">
        <div class="auth-card" (click)="navigateToSignUp()">
          <button>Sign Up</button>
        </div>
        <div class="auth-card" (click)="navigateToLogin()">
          <button>Log In</button>
        </div>
        <div class="ask-question-container">
          <button (click)="openModal()">Ask Question</button>
        </div>
      </section>
    </section>
  </header>

  <!-- Modal Popup -->
  <div class="modal" [ngClass]="{'show': isDialogOpen}">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Ask a Question</h2>
      <form (ngSubmit)="submitQuestion()">
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="userName" name="name" required>
        <label for="question">Question:</label>
        <textarea id="question" [(ngModel)]="userQuestion" name="question" required></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  
</div>
